.btn {
  margin-left: 70px;
}

#basic-nav-dropdown {
  margin-left: 70px;
}

.navbar {
  height: 70px;
}

#help-button {
  margin: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

